@using Entity.Models
@model AppInfo

    <link rel="icon" type="image/x-icon" href="@Model.Favicon" />
    <div class="logo-container">
        <img src="@Model.Logo" alt="@Model.AppName" class="logo" />
    </div>
    <h1>@Model.AppName</h1>
